
    <!DOCTYPE html>
    <html lang="en">
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Distribución de CVEs por Severidad</title>
      <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
      <style>
        canvas{ 
            -moz-user-select: none;
            -webkit-user-select: none;
            -ms-user-select: none;
        }
      </style>
    </head>
    <body>
      <div style="width: 75%;">
        <canvas id="myChart"></canvas>
      </div>
      <script>
        var ctx = document.getElementById('myChart').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'pie',
            data: {
                labels: ["MEDIUM", "HIGH", "LOW", "CRITICAL", "Null"],
                datasets: [{
                    data: [6890, 7610, 417, 1015, 3120],
                    backgroundColor: ["yellow", "red", "green", "purple", "blue"]
                }]
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
                title: {
                    display: true,
                    text: 'Distribución de CVEs por Severidad'
                }
            }
        });
      </script>
    </body>
    </html>
    