
    <!DOCTYPE html>
    <html>
    <head>
        <title>Top 10 Software Más Vulnerables</title>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    </head>
    <body>
        <canvas id="myChart"></canvas>
        <script>
            // Obtener los datos de Python
            var data = JSON.parse('{"sql server 2022 common files": 94, "sql server 2019 common files": 88, "node.js": 51, "ni labview 2023 q1 real-time base image for linux rt": 44, "ni labview 2023 q3 real-time base image for linux rt": 44, "ni labview 2024 q1 real-time base image for linux rt": 40, "microsoft xna framework redistributable 4.0 refresh": 33, "adobe refresh manager": 32, "microsoft skype for business mui (spanish) 2016": 32, "ni labwindows/cvi shared runtime openmp 2020": 23}');
            var labels = Object.keys(data);
            var values = Object.values(data);

            // Crear la gráfica utilizando Chart.js
            var ctx = document.getElementById('myChart').getContext('2d');
            var myChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: labels,
                    datasets: [{
                        label: 'Cantidad de CVE',
                        data: values,
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.6)',    // Color para SW1
                            'rgba(54, 162, 235, 0.6)',    // Color para SW2
                            'rgba(255, 206, 86, 0.6)',    // Color para SW3
                            'rgba(75, 192, 192, 0.6)',    // Color para SW4
                            'rgba(153, 102, 255, 0.6)',   // Color para SW5
                            'rgba(255, 159, 64, 0.6)',    // Color para SW6
                            'rgba(255, 99, 132, 0.6)',    // Color para SW7
                            'rgba(54, 162, 235, 0.6)',    // Color para SW8
                            'rgba(255, 206, 86, 0.6)',    // Color para SW9
                            'rgba(75, 192, 192, 0.6)',    // Color para SW10
                        ],
                        borderColor: [
                            'rgba(255, 99, 132, 1)',      // Borde para SW1
                            'rgba(54, 162, 235, 1)',      // Borde para SW2
                            'rgba(255, 206, 86, 1)',      // Borde para SW3
                            'rgba(75, 192, 192, 1)',      // Borde para SW4
                            'rgba(153, 102, 255, 1)',     // Borde para SW5
                            'rgba(255, 159, 64, 1)',      // Borde para SW6
                            'rgba(255, 99, 132, 1)',      // Borde para SW7
                            'rgba(54, 162, 235, 1)',      // Borde para SW8
                            'rgba(255, 206, 86, 1)',      // Borde para SW9
                            'rgba(75, 192, 192, 1)',      // Borde para SW10
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        xAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }],
                        yAxes: [{
                            ticks: {
                                autoSkip: false
                            }
                        }]
                    },
                    tooltips: {
                        mode: 'index',
                        intersect: false
                    }
                }
            });
        </script>
    </body>
    </html>
    